astroid==4.0.4
autopep8==2.3.2
black==26.5.1
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
coverage==7.16.2
dill==0.4.1
idna==3.20
iniconfig==2.3.0
isort==9.0.2
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==26.3
pathspec==1.1.1
platformdirs==4.12.1
pluggy==1.6.0
psutil==7.2.2
puremagic==2.2.0
pycodestyle==2.15.0
Pygments==2.21.0
pylint==4.0.9
pypdf==6.19.0
pytest==9.1.1
pytest-cov==7.1.0
pytokens==0.4.1
requests==2.34.2
ruff==0.16.9
tomlkit==0.15.1
urllib3==2.8.0
